{% extends "base.html" %}

{% block title %}Ryann Kargus: Software Developer{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row postion-relative">
        <div class="col position-static">
        <div class="jumbotron">
        <div class="landing-view top">
            <h1 class="display-4">Ryann Kargus</h1>
            <h2>Full Stack Software Developer</h2>
            <p class="lead"></p>
            <hr class="my-4 short-line">
            <p>I am a fullstack developer with knowledge<br> on both the frontend and backend.</p>
            <ul class="list-inline social-links">
                <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/ryann-k-36a99a93/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn></span></a>
            </li>
                <li class="list-inline-item">
                            <a href="https://github.com/Kargusr/" target="_blank">
                                    <i class="fab fa-github" aria-hidden="true"></i>
                                    <span class="sr-only">GitHub</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" target="_blank">
                                    <i class="fab fa-facebook" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                            </a>
                        </li>
            </ul>
        </div>
        </div>
        </div>
    </div>

</div>
    <div class="container-fluid aboutMe">
        <div class="media">
            <img src="/static/images/card-coffee-cup-1449082(2).jpg" width="500" height="350" class="mr-3" alt="">
                <div class="media-body">
                    <h5 class="mt-0 text-center">About Me</h5>
                        <p class="spacing text-center">I am a hard working, eager learner who looks to be challenged <br>
                        and to see a job done well. I follow form as well as function, and I know <br>
                        that the aesthetics of effective design combined with ease of use, efficiency, security<br>
                        and reliability combine to create a great user experience. I am a graduate of <br>
                        the Tech Academy's Full Stack Software Developer Bootcamp. As a graduate, I am <br>
                        skilled in front end and back end. I have experience with HTML, CSS, JavaScript, <br>
                        SQL and Database Management, Version Control, Visual Studio, Python, Django, <br>
                        .Net, and C#. My studies have included many challenges to test and apply my <br>
                        developing skill set. Prominent projects and coursework can be viewed in my <br>
                        GitHub portfolio. I am excited to start a meaningful and impactful career <br>
                        as a software developer, and I look forward to hearing from you. Please feel <br>
                        free to reach out to me with any questions, or your idea for your next project!</p>
  </div>
</div>
    </div>
    <div class="container-fluid aboutMe">
        <div class="media">

                <div class="media-body">
                    <h5 class="mt-0 text-center">Portfolio</h5>
                        <p class="spacing text-center">Check out my work on GitHub! <br>
                        Please feel free to browse my portfolio of projects including <br>
                        experience working with HTML, CSS, JavaScript, SQL, Python, <br>
                            Django, C#, ASP.NET, Entity Framework and more! <br>
                            Notable projects include: </p>
                    <ul class="text-center">
                        <ul>Final Assignment</ul>
                        <ul>Pizza Drill</ul>
                        <ul>Library Management System</ul>
                        <ul>Car Insurance Quote</ul>
                        <ul>Student Database</ul>
                    </ul>

  </div>
            <img src="/static/images/PortfolioImage.jpeg" width="600" height="350" class="mr-3" alt="">
</div>
    </div>
</div>

{% endblock %}